<div class="container-login">
  <mat-card class="card-login">
    <form [formGroup]="formLogin" (ngSubmit)="login()" class="form-login">
      <mat-form-field appearance="outline">
        <mat-label>Identifiant</mat-label>
        <input matInput type="text" placeholder="Identifiant" required formControlName="username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
        <mat-icon matSuffix>fingerprint</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </mat-card>
</div>
